.page-device {
  position: relative;
}
.page-device .device-details {
  padding-top: 80px;
  padding-bottom: 60px;
  margin-top: -32px;
}
.page-device .device-details .btn-position {
  position: absolute;
  top: 50px;
  right: 20px;
}
.page-device .device-details h4 {
  padding-left: 70px;
  font-size: 18px;
  line-height: 32px;
}
.page-device .device-details table {
  margin-top: 45px;
}
