adium-theme-ubuntu==0.3.4
amqp==1.4.9
anyjson==0.3.3
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
billiard==3.3.0.23
celery==3.1.23
certifi==2016.8.31
chardet==2.3.0
constantly==15.1.0
duplicity==0.7.6
futures==3.0.3
incremental==16.10.1
kombu==3.0.35
lockfile==0.12.2
M2Crypto==0.22.6rc4
meld3==1.0.2
numpy==1.11.1
pandas==0.18.0
pycurl==7.43.0
pygobject==3.20.0
python-apt==1.1.0b1
python-dateutil==2.5.3
pytz==2016.6.1
pyxdg==0.25
redis==2.10.3
requests==2.13.0
shadowsocks==2.1.0
singledispatch==3.4.0.3
six==1.10.0
stompest==2.2.6
stompest.async==2.2.6
supervisor==3.2.0
tornado==4.3
Twisted==16.6.0
unity-lens-photos==1.0
zope.interface==4.3.3
