.menu-manager-btn-add-lower {
  margin-left: 5px;
  margin-bottom: 8px;
  position: relative;
  right: 0px;
}
.menu-manager-btn-add {
  margin-left: 5px;
  margin-bottom: 8px;
  position: relative;
  right: 0px;
}
.editable-cell {
  position: relative;
}
.editable-cell-text-wrapper {
  cursor: pointer;
}
.editable-cell-input-wrapper {
  position: relative;
  display: block;
}
.editable-cell-text-wrapper {
  padding: 5px 24px 5px 5px;
}
.editable-cell-icon {
  line-height: 18px;
  display: none;
}
.editable-cell-icon-check {
  line-height: 28px;
}
.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}
.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #2db7f5;
}
.cell-loading {
  position: absolute;
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
  line-height: 28px;
}
