.myLabel {
  width: 100%;
}
.myLabel div {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  display: -webkit-flex;
}
.myLabel div span,
.myLabel div .treeIcon {
  margin: auto;
}
.myLabel div .labelName {
  margin-left: 25px;
  margin-right: 3px;
}
.myLabel div .labelNumberLeft,
.myLabel div .labelNumber,
.myLabel div .labelNumberRight {
  margin-left: 0px;
}
.myLabel div .labelNumberLeft,
.myLabel div .labelNumber {
  margin-right: 2px;
}
.myLabel div .treeIcon {
  margin-right: 25px;
}
.myLabel .selected {
  background: #cfe8fb;
}
.myLabel .labelBtn {
  display: block;
  text-align: center;
  margin-top: 10px;
}
